**.tlog
**.exp
**.ipch
**.txt
**.sdf
**.opensdf
**.obj
**.user
**.cache
**.pdb
**.lib
**.log
**.dll
**.iobj
**.ipdb
**.xml
**.ilk
**.suo
**/debug
**/release
**/SHFB
**/SHFB

###########################

/Packages/

###########################
!/Fisherman/

!/Fisherman/bin/

/Fisherman/bin/*
!/Fisherman/bin/

/Fisherman/bin/*
!/Fisherman/bin/release

!/Fisherman/bin/release/Fisherman.dll
!/Fisherman/bin/release/FluentBehaviourTree.dll
###########################

###########################
/ZzukBot_WPF/Resources/*
!/ZzukBot_WPF/Resources/Fasm.NET.dll
!/ZzukBot_WPF/Resources/ccode.dll
!/ZzukBot_WPF/Resources/StormLib.dll
###########################

###########################
!/SHFB Settings/

/SHFB Settings/*
!/SHFB Settings/ZzukBot.shfbproj
###########################
sh.exe.stackdump
ZzukBot.VC.db
ZzukBot.VC.VC.opendb
ZzukBot_2.VC.VC.opendb
ZzukBot_2.VC.db
.vs/Fisherman/v15/sqlite3/storage.ide
Fisherman/bin/Release/ZzukBot.exe.config
Fisherman/bin/Release/ZzukBot.exe
