**.tlog
**.exp
**.ipch
**.txt
**.sdf
**.opensdf
**.obj
**.user
**.cache
**.pdb
**.lib
**.log
**.dll
**.iobj
**.ipdb
**.xml
**.ilk
**.suo
**/debug
**/release
**/SHFB
**/SHFB

###########################

!/Packages/**

###########################
Fisherman\bin\Debug

!/Fisherman/

/Fisherman/*
!/Fisherman/bin/

/Fisherman/bin/*
!/Fisherman/bin/

/Fisherman/bin/*
!/Fisherman/bin/debug

!/Fisherman/bin/debug/Fisherman.dll
!/Fisherman/bin/debug/FluentBehaviourTree.dll
###########################

###########################
/ZzukBot_WPF/Resources/*
!/ZzukBot_WPF/Resources/Fasm.NET.dll
!/ZzukBot_WPF/Resources/ccode.dll
!/ZzukBot_WPF/Resources/StormLib.dll
###########################

###########################
!/SHFB Settings/

/SHFB Settings/*
!/SHFB Settings/ZzukBot.shfbproj
###########################
sh.exe.stackdump
ZzukBot.VC.db
ZzukBot.VC.VC.opendb
ZzukBot_2.VC.VC.opendb
ZzukBot_2.VC.db
